<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../lib/vue.js"></script>
</head>
<body>
<div>
    <h2>--表单--</h2>
    <div id="b1">
        <input type="text" v-model="mess">
        <div class="mess">{{mess}}</div>
        <div>
            <h4>单个多选框</h4>
            <input type="checkbox" v-model = "check"/>
            <label>{{check}}</label>
        </div>
        <div>
            <h4>多选框</h4>
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>
        <div>
            <h4>单选框</h4>
            <input type="radio" id="one" value="One" v-model="radioN">
            <label for="one">One</label>
            <br>
            <input type="radio" id="two" value="Two" v-model="radioN">
            <label for="two">Two</label>
            <br>
            <span>Picked: {{ radioN }}</span>
        </div>
        <div>
            <h4>单选列表</h4>
            <select v-model="selected">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>
        <div>
            <h4>多选列表</h4>
            <select v-model="moreSelected" multiple style="width: 50px">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
            <br>
            <span>Selected: {{ moreSelected }}</span>
        </div>
        <div>
            <h4>动态渲染</h4>
            <select v-model="append">
                <option v-for="option in options" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
            <span>Selected: {{ append }}</span>
        </div>
    </div>
    <script>
        var vm1 = new Vue({
            el:"#b1",
            data:{
                mess:"",
                check:true,
                checkedNames:["Jack"],
                radioN:"One",
                selected:"B",
                moreSelected:["B","C"],
                append:"2",
                options:[
                    {"text":"op1","value":"1"},
                    {"text":"op2","value":"2"},
                    {"text":"op3","value":"3"}
                ]
            }
        });
    </script>
</div>
</body>
</html>