<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../lib/vue.js"></script>
</head>
<body>
<div id="e1">
    <input v-model="parentMsg">
    <br>
    <child v-bind:message="parentMsg"></child>
</div>
<script>
    Vue.component('child', {
        // 声明 props
        props: ['message'],
        // 就像 data 一样，prop 可以用在模板内
        // 同样也可以在 vm 实例中像“this.message”这样使用
        template: '<span>{{ message }}</span>'
    })
    new Vue({
        el:"#e1",
        data:{
            parentMsg:"a"
        }
    });
</script>
<div id="e2">
    <input v-model="parentMsg">
    <br>
    <child v-bind:message="parentMsg"></child>
</div>
<script>
    Vue.component('child', {
        // 声明 props
        props: ['message'],
        // 就像 data 一样，prop 可以用在模板内
        // 同样也可以在 vm 实例中像“this.message”这样使用
        template: '<input v-model="message">',
        data:function(){
            console.log(this);
            return {counter:this.message};
        }
    })
    new Vue({
        el:"#e2",
        data:{
            parentMsg:"a"
        }
    });
</script>
</body>
</html>